.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5em;

  padding: 0 10% 5% 10%;
  text-align: justify;
}


.headshot {
  top: 5%;
  right: 10%;
  position: absolute;
  width: 40%;
  z-index: 0;
  fill: var(--helen-off-white);;
}

.dropCap {
  grid-column: 1 / 3;

  color: var(--brand-primary);
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  z-index: 1;
}

.full {
  grid-row: 1;
  grid-column: 1 / 4;

  margin-bottom: 0;
}

h3 {
  color: var(--brand-primary);
  font-family: "Butler", serif;
  font-size: 1.5em;
}

.keyMoments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5em;
  row-gap: 1em;

  padding: 0 10% 5% 10%;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
}
.keyMoment h3 {
  grid-column: 1 / 3;
}
.keyMoment1 {
  grid-column: 1;
  grid-row: 2;
}
.keyMoment2 {
  grid-column: 1;
  grid-row: 3;
}
.keyMoment3 {
  grid-column: 2;
  grid-row: 2;
}
.keyMoment4 {
  grid-column: 2;
  grid-row: 3;
}

.keyMomentCitations {
  font-weight: 400;
  font-size: 0.5em;
  grid-column: 2;
  grid-row: 4;
}

.red {
  background-color: var(--brand-primary);
  color: var(--helen-off-white);
}

.white {
  background-color: var(--helen-white);
}

.personalPassions {
  grid-column: 3;
  grid-row: 1 / 3;

  padding-top: 10%;
}

.imageGroupOne {
  grid-column: 1 / 3;
  grid-row: 1;
}

.imageGroupTwo {
  grid-column: 1 / 3;
  grid-row: 2;
}

.imageGroupOne,
.imageGroupTwo {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageGroupOne .passionImage,
.imageGroupTwo .passionImage {
  flex: 1 1 50%;
}

.passionImage {
  width: 30%;
}

.imageGroupOne .passionImage:nth-of-type(2) {
  margin-top: 25%;
  margin-left: -3%;
  margin-bottom: 2%;
}

.imageGroupTwo .passionImage:nth-of-type(2) {
  margin-top: 25%;
  margin-left: -15%;
  margin-bottom: 2%;
}

.logo {
  margin: auto;
  width: 60px;
}