.section {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5em;

  padding: 0 30% 5% 30%;
  /* text-align: justify; */
  line-height: 2.5;
  background-color: var(--helen-white);
  font-size: 1.15em;
}

.title {
  font-size: 6em;
  margin: 0;
}

p {
  margin-top: 5%;
  margin-bottom: 5%;
}

hr {
  width: 30%;
  margin: 10% auto;
}

blockquote {
  background-color: var(--helen-off-white);
  font-family: "Butler", serif;
  font-size: 2em;
  line-height: 1.2;
  padding: 1% 5%;
  border-radius: 5px;
}