.intro {
  display: flex;
  flex-flow: row wrap;
  margin-left: 10%;
  width: 90%;
}

.introParagraph {
  color: var(--brand-primary);
  flex: 200px 1 1;
  padding: 3% 9% 0 0;
}

.headshotsSection {
  align-content: center;
  color: var(--helen-off-white);
  display: flex;
  flex: 700px 2 1;
  justify-content: center;
  padding: 5% 0;
}

.headshots {
  /* position: relative; */
  width: 25%;
}

.headshot1 {
  /* left: 65%; */
  position: absolute;
  top: -10%;
  width: 90%;
  z-index: 2;
}

.headshot2 {
  /* left: 120%; */
  position: absolute;
  top: 35%;
  width: 90%;
  z-index: 1;
}

.headshot3 {
  /* left: 50%; */
  position: absolute;
  top: 70%;
  width: 90%;
  z-index: 3;
}

.learnMore {
  background-color: var(--brand-primary);
  display: flex;
  flex: 1;
  height: 300px;
  justify-content: center;
}

.learnMoreLink {
  align-self: center;
  color: var(--helen-off-white);
  letter-spacing: 0.01em;
  text-decoration: none;
}