.intro {
  display: flex;
  flex-flow: row wrap;
  margin-left: 10%;
  width: 90%;
}

.introParagraph {
  color: var(--brand-primary);
  flex: 200px 1 1;
  padding: 0 9% 0 0;
  align-self: center;
}

.headshotsSection {
  color: var(--helen-off-white);
  display: grid;
  flex: 700px 2 1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5% 0;
}

.headshots {
  display: grid;
  width: 40%;
  grid-row: 1 / 5;
  grid-column: 1 / 5;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  z-index: 0;
}

.headshot1 {
  grid-row: 2 / 6;
  grid-column: 2 / 6;
}

.headshot2 {
  grid-row: 4 / 8;
  grid-column: 5 / 9;
}

.headshot3 {
  grid-row: 7 / 13;
  grid-column: 1 / 5;
}

.headshotBorder1 {
  grid-row: 1 / 7;
  grid-column: 1 / 5;

  align-self: center;
  border: 1px solid var(--brand-primary);
  height: 200px;
  z-index: 1;
}

.headshotBorder2 {
  grid-row: 4 / 8;
  grid-column: 3 / 8;

  align-self: center;
  border: 1px solid var(--brand-primary);
  height: 125px;
  z-index: 1;
}

.headshotBorder3 {
  grid-row: 3 / 11;
  grid-column: 2 / 4;

  align-self: center;
  justify-self: center;
  border: 1px solid var(--brand-primary);
  height: 250px;
  width: 150px;
  z-index: 1;
}

.learnMore {
  background-color: var(--brand-primary);
  display: flex;
  grid-column: 2 / 5;
  grid-row: 2;
  height: 300px;
  justify-content: center;
}

a.learnMoreLink {
  color: var(--helen-off-white);
  letter-spacing: 0.01em;
  text-decoration: none;
  align-self: center;
}

a.learnMoreLink:hover,
.learnMoreLink:visited, {
  color: var(--helen-off-white);
  text-decoration: underline;
}