.reel {
  cursor: pointer;
  width: 100%;
}

.project {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  justify-content: center;

  height: 50vh;

  color: var(--brand-primary);
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}

.project img {
  max-height: 50vh;
}

.red {
  background-color: var(--brand-primary);
  color: var(--helen-off-white);
}

.white {
  background-color: var(--helen-white);
}

.cipConference {
  width: 100%;
}

.wiltedYards {
  grid-column: 5 / 6;
}

.fastlyFestival {
  grid-column: 5 / 6;
}

.helenvholmes {
  grid-column: 3 / 8;

  font-family: "Butler", sans-serif;
  font-size: 4em;
  font-weight: 700;
  text-decoration: underline;
}

.designingDeveloperTools span {
  grid-column: 2 / 9;

  font-family: "Butler", sans-serif;
  font-size: 4em;
  font-weight: 700;
  text-decoration: underline;
}

.designingDeveloperTools div {
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: bottom;
  margin-right: 2%;
}

.altitude {
  grid-column: 1 / 10;
}

.meElsewhere {
  grid-column: 5 / 6;
}