/* [next]/internal/font/google/jacquard_24_76d103ea.module.css [app-client] (css) */
@font-face {
  font-family: "Jacquard 24";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/jVyO7nf_B2zO5jVpUGU8ljQNf8l99AXoQRw-s.1f01caaf.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Jacquard 24";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/jVyO7nf_B2zO5jVpUGU8ljQDf8l99AXo-s.p.ea613d27.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Jacquard 24 Fallback";
  src: local(Arial);
  ascent-override: 100.16%;
  descent-override: 26.51%;
  line-gap-override: 0.0%;
  size-adjust: 78.95%;
}

.jacquard_24_76d103ea-module__pFip-q__className {
  font-family: "Jacquard 24", "Jacquard 24 Fallback";
  font-weight: 400;
  font-style: normal;
}

.jacquard_24_76d103ea-module__pFip-q__variable {
  --font-jacquard: "Jacquard 24", "Jacquard 24 Fallback";
}


/* [next]/internal/font/google/irish_grover_8fdc274b.module.css [app-client] (css) */
@font-face {
  font-family: Irish Grover;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/buExpoi6YtLz2QW7LA4flVgv__RPSC8ocg-s.p.c02c56ca.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Irish Grover Fallback;
  src: local(Arial);
  ascent-override: 90.76%;
  descent-override: 23.14%;
  line-gap-override: 2.54%;
  size-adjust: 103.83%;
}

.irish_grover_8fdc274b-module__7tQdvW__className {
  font-family: Irish Grover, Irish Grover Fallback;
  font-weight: 400;
  font-style: normal;
}

.irish_grover_8fdc274b-module__7tQdvW__variable {
  --font-irish-grover: "Irish Grover", "Irish Grover Fallback";
}


/* [next]/internal/font/google/kablammo_cac9e37.module.css [app-client] (css) */
@font-face {
  font-family: Kablammo;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/bWtm7fHPcgrhC_J3lcXhcQTY5Ixs6Au9YgCThRcQXYMTKoK1Ghc-s.5c0672c0.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Kablammo;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/bWtm7fHPcgrhC_J3lcXhcQTY5Ixs6Au9YgCTjBcQXYMTKoK1Ghc-s.d419d8a1.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Kablammo;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/bWtm7fHPcgrhC_J3lcXhcQTY5Ixs6Au9YgCThxcQXYMTKoK1Ghc-s.cdb65df8.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Kablammo;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/bWtm7fHPcgrhC_J3lcXhcQTY5Ixs6Au9YgCThhcQXYMTKoK1Ghc-s.4d40bbe5.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Kablammo;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/bWtm7fHPcgrhC_J3lcXhcQTY5Ixs6Au9YgCTiBcQXYMTKoK1-s.p.cbcb4763.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Kablammo Fallback;
  src: local(Arial);
  ascent-override: 91.99%;
  descent-override: 22.4%;
  line-gap-override: 0.0%;
  size-adjust: 112.94%;
}

.kablammo_cac9e37-module__bRXE5q__className {
  font-family: Kablammo, Kablammo Fallback;
  font-weight: 400;
  font-style: normal;
}

.kablammo_cac9e37-module__bRXE5q__variable {
  --font-kablammo: "Kablammo", "Kablammo Fallback";
}


/* [next]/internal/font/google/modak_3be72d97.module.css [app-client] (css) */
@font-face {
  font-family: Modak;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/EJRYQgs1XtIEskMB_hR77LKVTy8-s.35306cff.woff2") format("woff2");
  unicode-range: U+900-97F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}

@font-face {
  font-family: Modak;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/EJRYQgs1XtIEskMO_hR77LKVTy8-s.0e7f7765.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Modak;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/EJRYQgs1XtIEskMA_hR77LKV-s.p.093ae2cf.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Modak Fallback;
  src: local(Arial);
  ascent-override: 95.09%;
  descent-override: 49.02%;
  line-gap-override: 0.0%;
  size-adjust: 104.49%;
}

.modak_3be72d97-module__153wCq__className {
  font-family: Modak, Modak Fallback;
  font-weight: 400;
  font-style: normal;
}

.modak_3be72d97-module__153wCq__variable {
  --font-modak: "Modak", "Modak Fallback";
}


/* [next]/internal/font/google/league_script_4007bd7e.module.css [app-client] (css) */
@font-face {
  font-family: League Script;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/CSR54zpSlumSWj9CGVsoBZdeWNReuc4nG2o-s.p.4e3b658a.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: League Script Fallback;
  src: local(Arial);
  ascent-override: 71.8%;
  descent-override: 39.16%;
  line-gap-override: 0.0%;
  size-adjust: 99.74%;
}

.league_script_4007bd7e-module__QmwL9G__className {
  font-family: League Script, League Script Fallback;
  font-weight: 400;
  font-style: normal;
}

.league_script_4007bd7e-module__QmwL9G__variable {
  --font-league-script: "League Script", "League Script Fallback";
}


/* [next]/internal/font/google/oi_8991ef8c.module.css [app-client] (css) */
@font-face {
  font-family: Oi;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/w8gXH2EuRptYsN_QjwOH5Fc-s.3b7db4d4.woff2") format("woff2");
  unicode-range: U+6??, U+750-77F, U+870-88E, U+890-891, U+897-8E1, U+8E3-8FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}

@font-face {
  font-family: Oi;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/w8gXH2EuRptQsN_QjwOH5Fc-s.67d5b948.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Oi;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/w8gXH2EuRptZsN_QjwOH5Fc-s.f7d3d860.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Oi;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/w8gXH2EuRptesN_QjwOH5Fc-s.d4dc984f.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Oi;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/w8gXH2EuRptLsN_QjwOH5Fc-s.4f03383c.woff2") format("woff2");
  unicode-range: U+964-965, U+B82-BFA, U+200C-200D, U+20B9, U+25CC;
}

@font-face {
  font-family: Oi;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/w8gXH2EuRptSsN_QjwOH5Fc-s.bc7b447f.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Oi;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/w8gXH2EuRptTsN_QjwOH5Fc-s.61bf10b4.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Oi;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/w8gXH2EuRptdsN_QjwOH-s.p.31f471b6.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Oi Fallback;
  src: local(Arial);
  ascent-override: 59.26%;
  descent-override: 28.24%;
  line-gap-override: 0.0%;
  size-adjust: 180.57%;
}

.oi_8991ef8c-module__jnTp_q__className {
  font-family: Oi, Oi Fallback;
  font-weight: 400;
  font-style: normal;
}

.oi_8991ef8c-module__jnTp_q__variable {
  --font-oi: "Oi", "Oi Fallback";
}


/* [project]/src/app/globals.css [app-client] (css) */
*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (width >= 1536px) {
  .container {
    max-width: 1536px;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.invisible {
  visibility: hidden;
}

.\!fixed {
  position: fixed !important;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.-bottom-6 {
  bottom: -1.5rem;
}

.-left-4 {
  left: -1rem;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.left-1 {
  left: .25rem;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.top-6 {
  top: 1.5rem;
}

.-z-10 {
  z-index: -10;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-\[999\] {
  z-index: 999;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.-ml-6 {
  margin-left: -1.5rem;
}

.mb-px {
  margin-bottom: 1px;
}

.ml-0 {
  margin-left: 0;
}

.ml-px {
  margin-left: 1px;
}

.mr-1 {
  margin-right: .25rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-\[16\/9\] {
  aspect-ratio: 16 / 9;
}

.aspect-square {
  aspect-ratio: 1;
}

.h-1 {
  height: .25rem;
}

.h-12 {
  height: 3rem;
}

.h-3\/4 {
  height: 75%;
}

.h-4 {
  height: 1rem;
}

.h-48 {
  height: 12rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-64 {
  height: 16rem;
}

.h-8 {
  height: 2rem;
}

.h-96 {
  height: 24rem;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[50vh\] {
  height: 50vh;
}

.h-\[525px\] {
  height: 525px;
}

.h-\[calc\(100vh\+600px\)\] {
  height: calc(100vh + 600px);
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.max-h-5 {
  max-height: 1.25rem;
}

.min-h-32 {
  min-height: 8rem;
}

.min-h-44 {
  min-height: 11rem;
}

.w-11 {
  width: 2.75rem;
}

.w-12 {
  width: 3rem;
}

.w-2\/3 {
  width: 66.6667%;
}

.w-24 {
  width: 6rem;
}

.w-4 {
  width: 1rem;
}

.w-48 {
  width: 12rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-max {
  width: -moz-max-content;
  width: max-content;
}

.w-screen {
  width: 100vw;
}

.min-w-0 {
  min-width: 0;
}

.max-w-\[1120px\] {
  max-width: 1120px;
}

.max-w-\[200px\] {
  max-width: 200px;
}

.flex-1 {
  flex: 1;
}

.-translate-y-2 {
  --tw-translate-y: -.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.skew-y-\[45deg\] {
  --tw-skew-y: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-0 {
  --tw-scale-x: 0;
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes mt-backgroundPulse {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.animate-mt-backgroundPulse {
  animation: 4s ease-in-out infinite mt-backgroundPulse;
}

@keyframes mt-fadeInOut {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 100;
  }
}

.animate-mt-fadeInOut {
  animation: 1.25s ease-in-out infinite mt-fadeInOut;
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.list-none {
  list-style-type: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-items-stretch {
  justify-items: stretch;
}

.gap-1 {
  gap: .25rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-2 {
  gap: .5rem;
}

.gap-3 {
  gap: .75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-px {
  gap: 1px;
}

.gap-x-4 {
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.gap-y-1 {
  row-gap: .25rem;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rounded {
  border-radius: .25rem;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-sm {
  border-radius: .125rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-x {
  border-left-width: 1px;
  border-right-width: 1px;
}

.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-4 {
  border-bottom-width: 4px;
}

.border-l {
  border-left-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-double {
  border-style: double;
}

.border-interactive {
  border-color: rgb(var(--interactive));
}

.border-mt-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(222 221 215 / var(--tw-border-opacity, 1));
}

.border-mt-purple-100 {
  --tw-border-opacity: 1;
  border-color: rgb(216 215 248 / var(--tw-border-opacity, 1));
}

.border-surface {
  border-color: rgb(var(--surface-color));
}

.border-transparent {
  border-color: #0000;
}

.bg-background {
  background-color: rgb(var(--background-color));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-interactive {
  background-color: rgb(var(--interactive));
}

.bg-mt-alpha-black-50 {
  background-color: #0000000d;
}

.bg-mt-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(242 241 237 / var(--tw-bg-opacity, 1));
}

.bg-mt-purple-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(240 239 255 / var(--tw-bg-opacity, 1));
}

.bg-surface {
  background-color: rgb(var(--surface-color));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-mt-ai-looping-gradient {
  background-image: linear-gradient(to right, #5264ff, #f8f, #f96, #f8f, #5264ff);
}

.bg-mt-ai-looping-gradient-with-border {
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #5264ff, #f8f, #f96, #f8f, #5264ff);
}

.from-transparent {
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: #0000 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-10\% {
  --tw-gradient-from-position: 10%;
}

.via-20\% {
  --tw-gradient-via-position: 20%;
}

.to-mt-purple-100 {
  --tw-gradient-to: #d8d7f8 var(--tw-gradient-to-position);
}

.to-40\% {
  --tw-gradient-to-position: 40%;
}

.bg-\[size\:300\%\] {
  background-size: 300%;
}

.bg-contain {
  background-size: contain;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-origin-border {
  background-origin: border-box;
}

.fill-surface {
  fill: rgb(var(--surface-color));
}

.object-none {
  -o-object-fit: none;
  object-fit: none;
}

.object-left-top {
  -o-object-position: left top;
  object-position: left top;
}

.p-12 {
  padding: 3rem;
}

.p-2 {
  padding: .5rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.px-3 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-0\.5 {
  padding-top: .125rem;
  padding-bottom: .125rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-12 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-12 {
  padding-right: 3rem;
}

.ps-20 {
  padding-inline-start: 5rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.text-center {
  text-align: center;
}

.font-nav0 {
  font-family: var(--font-jacquard);
}

.font-nav1 {
  font-family: var(--font-irish-grover);
}

.font-nav2 {
  font-family: var(--font-kablammo);
}

.font-nav3 {
  font-family: var(--font-league-script);
}

.font-nav4 {
  font-family: var(--font-oi);
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-8xl {
  font-size: 6rem;
  line-height: 1;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.capitalize {
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.text-mt-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(68 68 68 / var(--tw-text-opacity, 1));
}

.text-mt-purple-700 {
  --tw-text-opacity: 1;
  color: rgb(66 59 114 / var(--tw-text-opacity, 1));
}

.text-mt-purple-800 {
  --tw-text-opacity: 1;
  color: rgb(48 43 85 / var(--tw-text-opacity, 1));
}

.text-muted {
  color: rgb(var(--muted));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.no-underline {
  text-decoration-line: none;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-25 {
  opacity: .25;
}

.opacity-65 {
  opacity: .65;
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.duration-1000 {
  transition-duration: 1s;
}

.duration-150 {
  transition-duration: .15s;
}

.duration-200 {
  transition-duration: .2s;
}

.duration-300 {
  transition-duration: .3s;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.will-change-\[transform\,height\,width\,color\] {
  will-change: transform, height, width, color;
}

.will-change-\[transform\,height\,width\,opacity\,color\] {
  will-change: transform, height, width, opacity, color;
}

.\@container\/columns {
  container-type: inline-size;
  container-name: columns;
}

.\[animation-delay\:-0\.15s\] {
  animation-delay: -.15s;
}

.\[animation-delay\:-0\.3s\] {
  animation-delay: -.3s;
}

.\[animation-delay\:_0\.25s\] {
  animation-delay: .25s;
}

.\[animation-delay\:_0\.5s\] {
  animation-delay: .5s;
}

.\[background-clip\:content-box\,_border-box\] {
  background-clip: content-box, border-box;
}

:root {
  --accent: aliceblue;
  --accent-opacity: #3d2b2b40;
  --background-color: 255, 255, 255;
  --color: 0 0 0;
  --muted: 187 201 203;
  --gradient: linear-gradient(to left, #3d2b2b, pink, #6360a0);
  --highlight: #e6dada;
  --interactive: 81, 57, 57;
  --link-underline: 239, 227, 227;
  --shadow-color: 217, 235, 239;
  --surface-color: 240, 248, 250;
  --mid-width: 500px;
  --large-width: 700px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #3d2b2b;
    --accent-opacity: #3d2b2b40;
    --background-color: 19 13 13;
    --color: 239 227 227;
    --muted: 191 163 163;
    --gradient: linear-gradient(to left, #3d2b2b, pink, #6360a0);
    --highlight: #3d2b2b;
    --interactive: 216, 204, 204;
    --link-underline: 239, 227, 227;
    --shadow-color: 39, 28, 28;
    --surface-color: 55, 41, 41;
  }
}

html {
  background-color: var(--background-color);
  box-sizing: border-box;
  color: rgb(var(--color));
  font-family: inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variation-settings: normal;
  font-size: .9em;
  line-height: 1.5;
}

.docs-story {
  background-color: var(--background-color);
}

*, :before, :after {
  box-sizing: inherit;
}

::-moz-selection {
  background: var(--highlight);
  text-shadow: none;
}

::selection {
  background: var(--highlight);
  text-shadow: none;
}

body {
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 1rem;
}

@keyframes BackgroundMovement {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

@media print {
  *, :before, :after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr, img {
    page-break-inside: avoid;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}

.c-cursor__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  opacity: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -.01em;
  mix-blend-mode: inherit;
  will-change: transform, height, width, opacity, color;
  border-radius: 100%;
  contain: layout style size;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.c-cursor__img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  filter: invert();
}

[data-cursor-size], [data-cursor-background-image], [data-cursor-color], [data-cursor-exclusion], [data-cursor-text], [data-cursor-stick], [data-cursor-magnetic] {
  position: relative;
}

[data-cursor-size]:before, [data-cursor-background-image]:before, [data-cursor-color]:before, [data-cursor-exclusion]:before, [data-cursor-text]:before, [data-cursor-stick]:before, [data-cursor-magnetic]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000;
}

[data-cursor-size] a, [data-cursor-size] button, [data-cursor-size] input, [data-cursor-size] textarea, [data-cursor-background-image] a, [data-cursor-background-image] button, [data-cursor-background-image] input, [data-cursor-background-image] textarea, [data-cursor-color] a, [data-cursor-color] button, [data-cursor-color] input, [data-cursor-color] textarea, [data-cursor-exclusion] a, [data-cursor-exclusion] button, [data-cursor-exclusion] input, [data-cursor-exclusion] textarea, [data-cursor-text] a, [data-cursor-text] button, [data-cursor-text] input, [data-cursor-text] textarea, [data-cursor-stick] a, [data-cursor-stick] button, [data-cursor-stick] input, [data-cursor-stick] textarea, [data-cursor-magnetic] a, [data-cursor-magnetic] button, [data-cursor-magnetic] input, [data-cursor-magnetic] textarea {
  pointer-events: painted;
  transform: translate(0) !important;
}

.after\:block:after {
  content: var(--tw-content);
  display: block;
}

.after\:h-px:after {
  content: var(--tw-content);
  height: 1px;
}

.after\:w-full:after {
  content: var(--tw-content);
  width: 100%;
}

.after\:bg-current:after {
  content: var(--tw-content);
  background-color: currentColor;
}

.after\:content-\[\'\'\]:after {
  --tw-content: "";
  content: var(--tw-content);
}

.hover\:bg-mt-alpha-black-100:hover {
  background-color: #0000001f;
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed;
}

.group\/suggestion:hover .group-hover\/suggestion\:visible {
  visibility: visible;
}

.group:hover .group-hover\:-translate-x-0\.5 {
  --tw-translate-x: -.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:translate-x-0\.5 {
  --tw-translate-x: .125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes backgroundMovement {
  0% {
    background-position: 200%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.group\/indexClickable:hover .group-hover\/indexClickable\:animate-backgroundMovement {
  animation: .7s cubic-bezier(.33, 1, .68, 1) 2 forwards backgroundMovement;
}

.group\/item:hover .group-hover\/item\:bg-surface {
  background-color: rgb(var(--surface-color));
}

.group\/item:hover .group-hover\/item\:bg-surface-shadow {
  background-color: rgb(var(--shadow-color));
}

.group\/pgcard:hover .group-hover\/pgcard\:bg-surface {
  background-color: rgb(var(--surface-color));
}

.group\/pgcard:hover .group-hover\/pgcard\:bg-surface-shadow {
  background-color: rgb(var(--shadow-color));
}

.peer\/pincode:focus ~ .peer-focus\/pincode\:border-2 {
  border-width: 2px;
}

.peer\/pincode:focus ~ .peer-focus\/pincode\:border-blue-700 {
  --tw-border-opacity: 1;
  border-color: rgb(29 78 216 / var(--tw-border-opacity, 1));
}

@container columns (width >= 28rem) {
  .\@md\/columns\:grid-cols-\[1fr\] {
    grid-template-columns: 1fr;
  }

  .\@md\/columns\:grid-cols-\[1fr_1fr\] {
    grid-template-columns: 1fr 1fr;
  }
}

@container columns (width >= 36rem) {
  .\@xl\/columns\:grid-cols-\[1fr_4fr\] {
    grid-template-columns: 1fr 4fr;
  }

  .\@xl\/columns\:gap-16 {
    gap: 4rem;
  }
}

@container columns (width >= 42rem) {
  .\@2xl\/columns\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .\@2xl\/columns\:block {
    display: block;
  }

  .\@2xl\/columns\:grid-cols-\[1fr_2fr_2fr\] {
    grid-template-columns: 1fr 2fr 2fr;
  }
}

@media (width >= 768px) {
  .md\:w-2\/3 {
    width: 66.6667%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:gap-24 {
    gap: 6rem;
  }

  .md\:object-cover {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .md\:pr-0 {
    padding-right: 0;
  }

  .md\:pr-12 {
    padding-right: 3rem;
  }

  .md\:pt-0 {
    padding-top: 0;
  }

  .md\:pt-6 {
    padding-top: 1.5rem;
  }
}

@media (width >= 1024px) {
  .lg\:static {
    position: static;
  }

  .lg\:order-1 {
    order: 1;
  }

  .lg\:order-2 {
    order: 2;
  }

  .lg\:order-3 {
    order: 3;
  }

  .lg\:order-4 {
    order: 4;
  }

  .lg\:order-5 {
    order: 5;
  }

  .lg\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .lg\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .lg\:col-span-5 {
    grid-column: span 5 / span 5;
  }

  .lg\:col-start-1 {
    grid-column-start: 1;
  }

  .lg\:col-start-2 {
    grid-column-start: 2;
  }

  .lg\:col-start-3 {
    grid-column-start: 3;
  }

  .lg\:col-start-6 {
    grid-column-start: 6;
  }

  .lg\:row-span-1 {
    grid-row: span 1 / span 1;
  }

  .lg\:row-start-1 {
    grid-row-start: 1;
  }

  .lg\:row-start-2 {
    grid-row-start: 2;
  }

  .lg\:row-start-3 {
    grid-row-start: 3;
  }

  .lg\:row-start-4 {
    grid-row-start: 4;
  }

  .lg\:row-start-5 {
    grid-row-start: 5;
  }

  .lg\:h-3\/4 {
    height: 75%;
  }

  .lg\:grid-cols-\[1\.5fr_1fr_1fr\] {
    grid-template-columns: 1.5fr 1fr 1fr;
  }

  .lg\:grid-cols-\[2fr_4fr_1fr_2fr_2fr_4fr_1fr_4fr_1fr_2fr\] {
    grid-template-columns: 2fr 4fr 1fr 2fr 2fr 4fr 1fr 4fr 1fr 2fr;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:gap-24 {
    gap: 6rem;
  }

  .lg\:gap-32 {
    gap: 8rem;
  }

  .lg\:gap-8 {
    gap: 2rem;
  }

  .lg\:gap-y-4 {
    row-gap: 1rem;
  }

  .lg\:pr-12 {
    padding-right: 3rem;
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:text-9xl {
    font-size: 8rem;
    line-height: 1;
  }

  .lg\:text-\[12rem\] {
    font-size: 12rem;
  }
}

@media (width >= 1280px) {
  .xl\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .xl\:pl-24 {
    padding-left: 6rem;
  }

  .xl\:pr-0 {
    padding-right: 0;
  }
}


/*# sourceMappingURL=%5Broot%20of%20the%20server%5D__bf102b._.css.map*/
