.section {
  background-color: #fff;
  color: var(--body-color);
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  justify-items: center;
  align-items: center;
  padding: 5% 0;
}

.aboutHeader {
  color: var(--brand-primary);
}

.platitudes {
  align-self: stretch;
  justify-self: stretch;
  background-color: var(--brand-primary);
  color: var(--helen-off-white);
  display: flex;
  grid-column: 2 / 11;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .platitudes  {
    grid-column: 2 / 4;
  }
}


@keyframes float {
  from {
    transform: translateY(0px) rotate(-15deg);
  }
  to {
    transform: translateY(5px) rotate(-15deg);
  }
}

.platitudes p {
  align-self: center;
  animation: float 2s ease-in-out infinite alternate;
}

.partOne {
  align-self: start;
  grid-column: 2 / 11;
}

@media screen and (min-width: 600px) {
  .partOne  {
    grid-column: 5 / 7;
  }
}

.partTwo {
  align-self: start;
  grid-column: 2 / 11;
}

@media screen and (min-width: 600px) {
  .partTwo  {
    grid-column: 8 / 10;
  }
}