.section {
  background-color: #fff;
  color: var(--body-color);
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  justify-items: center;
  align-items: center;
  padding: 5% 0;
}

.aboutHeader {
  color: var(--brand-primary);
}

.platitudes {
  align-self: stretch;
  justify-self: stretch;
  background-color: var(--brand-primary);
  color: var(--helen-off-white);
  display: flex;
  grid-column-end: 4;
  grid-column-start: 2;
  justify-content: center;
}

@keyframes float {
  from {
    transform: translateY(0px) rotate(-15deg);
  }
  to {
    transform: translateY(5px) rotate(-15deg);
  }
}

.platitudes p {
  align-self: center;
  animation: float 2s ease-in-out infinite alternate;
}

.partOne {
  align-self: start;
  grid-column-end: 7;
  grid-column-start: 5;
}

.partTwo {
  align-self: start;
  grid-column-end: 10;
  grid-column-start: 8;
}