/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/

.container {
  margin: auto;
  width: 80%;
}

.red {
  background-color: var(--brand-primary);
}

.white {
  background-color: var(--helen-white);
}

.off-white {
  background-color: var(--helen-off-white);
}