/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/

.container {
  margin: auto;
  width: 80%;
  font-family: "Avenir Next", sans-serif;
  font-size: 0.95em;
  line-height: 1.75;
}