.section {
  background-color: var(--helen-red);
  color: var(--helen-off-white);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  padding: 5% 0;
  text-align: center;
}

h2 {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.5px;
  transform: rotate(270deg);
  justify-self: center;
}

.work {
  background-color: var(--brand-primary);
  border: 8px solid var(--helen-off-white);
  grid-column-start: 2;
  grid-column-end: 9;
}

.link {
  background-color: var(--helen-off-white);
  border: 1px solid var(--brand-primary);
  color: var(--brand-primary);
  display: block;
  font-family: "Knockout", sans-serif;
  font-size: 4em;
  font-weight: black;
  text-decoration: none;
}