.section {
  background-color: var(--helen-red);
  color: var(--helen-off-white);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  padding: 15% 0;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .section  {
    padding: 7% 0;
  }
}

.work {
  background-color: var(--brand-primary);
  border: 8px solid var(--helen-off-white);
  grid-column: 2 / 9;
}

@media screen and (min-width: 600px) {
  .work  {
    grid-column: 3 / 8;
  }
}

.link {
  background-color: var(--helen-off-white);
  border: 1px solid var(--brand-primary);
  color: var(--brand-primary);
  display: block;
  font-family: "Knockout", sans-serif;
  font-size: 1em;
  font-weight: black;
  text-decoration: none;
}


@media screen and (min-width: 600px) {
  .link  {
    font-size: 4em;
  }
}