.section {
  align-items: center;
  color: var(--brand-primary);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 7% 0;
  text-align: center;
}

.logosGrid {
  border: 1px solid var(--brand-primary);
  grid-column-start: 4;
  grid-column-end: 9;
  display: grid;
}
