.section {
  align-items: center;
  color: var(--brand-primary);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 7% 0;
  text-align: center;
}

.logosGrid {
  align-items: center;
  border: 2px solid var(--brand-primary);
  display: grid;
  grid-auto-rows: wrap;
  grid-column-end: 9;
  grid-column-start: 4;
  grid-row-gap: 50px;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}

.logosGrid img:nth-child(1) {
  grid-column: 1 / span 2;
  border-bottom: 2px solid var(--brand-primary);
}

.logosGrid img:nth-child(2) {
  grid-column: 3 / span 2;
}

.logosGrid img:nth-child(3) {
  grid-column: 5 / span 2;
}

.logosGrid img:nth-child(4) {
  grid-column: 1 / 4;
  grid-row: 2;
}

.logosGrid img:nth-child(5) {
  grid-column: 3 / 6;
  grid-row: 2;
}
