.section {
  background-color: #fff;
  color: var(--helen-red);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  align-items: center;
  padding: 5% 0;
  text-align: center;
}

.articles {
  grid-column-start: 3;
  grid-column-end: 8;
}

.link {
  color: var(--helen-red);
  display: block;
  font-family: "Butler", serif;
  font-size: 2em;
  margin: 10% 0;
}

@media screen and (min-width: 600px) {
  .link  {
    font-size: 4em;
    margin: 0;
  }
}