.featured {
  font-size: 0.75em;
  font-weight: bold;
  justify-self: center;
  letter-spacing: 0.5px;
  white-space: nowrap;
  margin: 0;
}

.featured + .featured {
  display: none;
}

@media screen and (min-width: 600px) {
  .featured  {
    font-size: 1em;
  }

  .featured + .featured {
    display: block;
  }
}

.red {
  color: var(--brand-primary);
}

.offWhite {
  color: var(--helen-off-white);
}

.regular {
  color: var(--brand-primary);
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.rotate {
  transform: rotate(270deg);
}

.projectTitle {
  color: var(--brand-primary);
  font-size: 6em;
  line-height: 1;
}

@media screen and (min-width: 600px) {
  .rotate  {
    display: block;
  }
}