.featured {
  font-size: 1em;
  font-weight: bold;
  justify-self: center;
  letter-spacing: 0.5px;
}

.red {
  color: var(--brand-primary);
}

.offWhite {
  color: var(--helen-off-white);
}

.regular {
  color: var(--brand-primary);
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.rotate {
  transform: rotate(270deg);
}