.header {
  background-color: var(--brand-primary);
  margin: 0;
  display: flex;
  color: white;
  font-size: 2em;
  font-family: "Avenir Next", sans-serif;
  font-weight: bold;
  padding: 0 10%;
  line-height: 1.15;
}