/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/
html {
  --helen-red: #D04A39;
  --helen-blue: #222DC5;
  --helen-yellow: #D39E42;
  --helen-tan: #E6E0D6;
  --helen-fade-out: #B1A797;
  --helen-off-white: #F5F2EE;

  --helen-black: #000;
  --helen-white: #fff;

  --brand-primary: var(--helen-red);
  --body-color: var(--helen-black);
  --bg: var(--helen-off-white);


  --devtools-primary:            #4a90e2;
  --brand-secondary:             #ddd147;
  --brand-tertiary:              #240eba;

  --brand-blacker:               #202420;
  --brand-black:                 #2d2d2d;
  --brand-gray-dark:             #959595;
  --brand-gray:                  #F5F5F5;
  --brand-gray-light:            #F2F2F2;
  --brand-gray-accent:           #D8D8D8;
  --brand-white:                 #ffffff;

  --winsome-bg: #2a2a39;

  background-color: var(--bg);
  font-family: "Avenir Next", sans-serif;
  font-size: 0.9em;
  line-height: 1.75;
}

@font-face {
  font-family: "Avenir Next";
  font-weight: lighter;
  src: url("./fonts/avenirnext/avenir-next-thin.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: regular;
  src: url("./fonts/avenirnext/avenir-next-regular.woff2") format("woff2"),
       url("./fonts/avenirnext/avenir-next-regular.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: bold;
  src: url("./fonts/avenirnext/avenir-next-bold.woff2") format("woff2"),
       url("./fonts/avenirnext/avenir-next-bold.woff") format("woff");
}

@font-face {
  font-family: "Butler";
  font-weight: 700;
  src: url("./fonts/butler/butler-black.woff2") format("woff2"),
       url("./fonts/butler/butler-black.woff") format("woff");
}

@font-face {
  font-family: "Butler";
  font-weight: 600;
  src: url("./fonts/butler/butler-medium.woff2") format("woff2"),
       url("./fonts/butler/butler-medium.woff") format("woff");
}

@font-face {
  font-family: "Knockout";
  font-weight: black;
  src: url("./fonts/knockout/Knockout-HTF74-FullSumo.woff2") format("woff2"),
       url("./fonts/knockout/Knockout-HTF74-FullSumo.woff") format("woff");
}

a {
  color: var(--brand-primary);
}

a:hover {
  color: var(--brand-primary);
}

a:visited {
  color: var(--brand-primary);
}

.citations {
  padding: 5% 10%;
}

.workLinks {
  display: block;
  font-family: "Butler", serif;
  font-size: 3em;
  padding: 15% 5% 5% 5%;
  text-align: center;
}