.navbar {
  background-color: var(--brand-primary);
  height: 100px;
  padding: 0 9%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarBrand {
  flex: 1;
}

.navbarMenu {
  align-content: space-between;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex: 20px 0 0;
  height: 15px;
}

.navbarBurger {
  background-color: var(--helen-off-white);
  display: block;
  height: 1px;
  width: 30px;
}