.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5em;

  padding: 0 10% 5% 10%;
  text-align: justify;
}

.red {
  background-color: var(--brand-primary);
  color: var(--helen-off-white);
}

.white {
  background-color: var(--helen-white);
}

.title {
  grid-column: 1 / 3;
  grid-row: 1;
}

.p1 {
  grid-column: 1 / 3;
  grid-row: 2 / span 2;
}

.p2 {
  grid-column: 3 / 5;
  grid-row: 2 / span 2;
}

.wiltedTable {
  width: 100%;
}

.website {
  padding: 5%;
}

.website p {
  align-self: center;
  text-align: left;
}

.websiteImage {
  grid-column: 1 / 4;
}

.stamps {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.stampsImage {
  grid-column: 1 / 10;
  grid-row: 1;
}

.stampsParagraph {
  grid-column: 3 / 5;
  grid-row: 1;
  align-self: center;

  background-color: var(--helen-white);
  transform: rotate(-13deg);
  padding: 20% 15%;

  color: var(--brand-primary);
}

.signage {
  color: var(--brand-primary);
  grid-column: 4;
}

.smokingRoomImage {
  grid-column: 1 / 4;
}

.signage {
  align-self: center;
}

.spaImage, .livingRoomImage {
  grid-column: 2 / 5;
}

.buildingImage {
  grid-column: 1 / 4;
}