.menu {
  background-color: var(--helen-blue);
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.originalNav {
  padding: 0 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.navbarBrand {
  flex: 1;
}

.navbarMenu {
  cursor: pointer;
  display: flex;
  flex: 20px 0 0;
  justify-content: center;
  align-content: center;
}

.closeButton {
  color: var(--helen-off-white);
  font-weight: bold;
  padding-right: 15%;
}

.navbarBurger > span {
  background-color: var(--helen-off-white);
  display: block;
  display: flex;
  flex-wrap: wrap;
  height: 1px;
  width: 30px;
}

.navbarMenu .closeX1 {
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}

.navbarMenu .closeX2 {
  transform: rotate(-45deg);
  transform-origin: 0% 50%;
}

.mainLinks {
  align-items: center;
  display: grid;
  font-size: 5em;
  font-weight: bold;
  height: 70%;
  line-height: 1;
  margin: auto;
  width: 70%;
}

.mainLinks a {
  color: var(--helen-off-white);
  text-decoration: none;
}

.mainLinks a:hover {
  border-bottom: 4px solid var(--helen-off-white);
}

.getInTouch {
  font-family: "Butler", serif;
  color: var(--helen-off-white);
  font-size: 2em;
  font-weight: medium;
}

.contact a {
  color: var(--helen-off-white);
  font-size: 1.15em;
  font-weight: thin;
}