.menu {
  align-items: center;
  background-color: var(--helen-blue);
  display: flex;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 9%;
  width: 100vw;
}

.navbarBrand {
  flex: 1;
}

.navbarMenu {
  align-content: space-between;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex: 20px 0 0;
  height: 15px;
}

.navbarBurger {
  background-color: var(--helen-off-white);
  display: block;
  height: 1px;
  width: 30px;
}