.menu {
  background-color: var(--helen-blue);
  color: var(--helen-off-white);
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.originalNav {
  padding: 0 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.navbarBrand {
  flex: 1;
}

.navbarBrand svg {
  width: 60px;
}

.navbarMenu {
  cursor: pointer;
  display: flex;
  flex: 20px 0 0;
  justify-content: center;
  align-content: center;
}

.closeButton {
  font-weight: bold;
  padding-right: 15%;
}

.navbarBurger > span {
  background-color: var(--helen-off-white);
  display: block;
  display: flex;
  flex-wrap: wrap;
  height: 1px;
  width: 30px;
}

.navbarMenu .closeX1 {
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}

.navbarMenu .closeX2 {
  transform: rotate(-45deg);
  transform-origin: 0% 50%;
}

.mainLinks {
  align-items: end;
  display: grid;
  font-size: 5em;
  font-weight: bold;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 4px 1fr 4px 1fr 4px 1fr 4px; 
  height: 75%;
  line-height: 1;
  margin: auto;
  width: 70%;
}

.mainLinks a {
  color: var(--helen-off-white);
  text-decoration: none;
}

.link1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

.linkUnderline1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;

  height: 4px;
  width: 100%;
}

.link1Sublinks {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;

  align-self: start;
  display: grid;
  font-size: 0.25em;
  font-weight: lighter;
  justify-self: end;
  opacity: 0;
  line-height: 1.25;
  text-align: right;
}

.link1Sublinks > a {
  padding-top: 2%;
  opacity: 0;
}

.link2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.linkUnderline2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 4;

  height: 4px;
  width: 100%;
}

.link2Sublinks {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;

  align-self: start;
  display: grid;
  font-size: 0.25em;
  font-weight: lighter;
  justify-self: end;
  opacity: 0;
  line-height: 1.25;
  text-align: right;
}

.link2Sublinks > a {
  padding-top: 2%;
  opacity: 0;
}

.link3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 5;
}

.linkUnderline3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 6;

  height: 4px;
  width: 100%;
}


.link4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 7;
}

.linkUnderline4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 8;

  height: 4px;
  width: 100%;
}


.mainLinks a:hover {
  text-decoration: none;
}

.contact {
  margin: auto;
  text-align: right;
  width: 80%;
  padding-top: 2%;
}

.getInTouch {
  font-family: "Butler", serif;
  font-size: 2em;
  font-weight: medium;
  padding-right: 1%;
}

.contact a {
  color: var(--helen-off-white);
  font-size: 1.15em;
  font-weight: lighter;
  text-decoration: none;
}